{% extends 'base.html' %}
{% load bootstrap5 %}
{%load static %}
{% block conteudo %}

<body 
class="text-center">
  <form class="form-signin">
    <img class="mb-4" src="{% static 'img/Logo.png' %}" alt="" width="550" height="250">
    <form action="{% url 'login' %}" method="POST">
      {% csrf_token %}
      
      <div class="mb-3">
        <label class="form-label" for="typeText">Nome de Usuário</label>
        <input
          type="text"
          id="typeText"
          class="form-control"
          placeholder=""
          name="username"
          required
        />
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Senha</label>
        <input
          type="password"
          class="form-control"
          id="exampleInputPassword1"
          placeholder=""
          name="password"
          required
        />
      </div>
      <button type="submit" class="btn btn-outline-primary">Entrar</button>
      <button type="submit" class="btn btn-outline-primary">Fazer cadastro</button>(botão para ser trabalhado)
    </form>
  </div>
  </div> 
</div>
</section>

{% endblock conteudo %}