{% extends 'base.html' %}
{% load bootstrap5 %}
{%load static %}
{% block conteudo %}

<div class="overflow-hidden" style="max-height: 50vh;">
  <div class="container px-2">
    <img src="{% static 'img/Logo.png' %}" class="img-fluid border rounded-3 shadow-lg mb-4" alt="" width="450" height="250" loading="lazy">
  </div>
</div>
</div>

<section class="pb-4">
  <div class="bg-white border rounded-5">
    
    <section class="w-100 p-4 d-flex justify-content-center pb-4">
      <form style="width: 22rem;">
        <!-- Email input -->
        <div class="form-outline mb-4">
          <input type="email" id="form2Example1" class="form-control" />
          <label class="form-label" for="form2Example1">Usúario</label>
        </div>

        <!-- Password input -->
        <div class="form-outline mb-4">
          <input type="password" id="form2Example2" class="form-control" />
          <label class="form-label" for="form2Example2">Senha</label>
        </div>

        <!-- 2 column grid layout for inline styling -->
        <div class="row mb-4">
          <div class="col d-flex justify-content-center">
            <!-- Checkbox -->
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="form2Example31" checked />
              <label class="form-check-label" for="form2Example31"> Lembre de mim </label>
            </div>
          </div>

          <div class="col">
            <!-- Simple link -->
            <a href="#!">Esquceu a senha?</a>
          </div>
        </div>

        <!-- Submit button -->
        <button type="button" class="btn btn-primary btn-block mb-4">Entrar</button>

        <!-- Register buttons -->
        <div class="text-center">
          <p>Não é cadastrado? <a href="#!">cadastre-se</a></p>
          <button type="button" class="btn btn-link btn-floating mx-1">
{% endblock conteudo %}