{% extends 'base.html' %} {% load static %} {% block conteudo %}

<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Massa Folhada</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-primary" type="submit">Pesquisar</button>
      </form>
    </div>
  </div>
</nav>
</header>

<body 

class="text-center">
  <form class="form-signin">
    <img class="mb-" src="{% static 'img/Logo.png' %}" alt="" width="350" height="250">
<section id="register-user">
  <div class="div-main d-flex text-center align-items-center">
    <div class="col-lg-6 mx-auto">
      <h1 class="display-9 fw-bold">Cadastrar Usuário</h1>

      <form action="{% url 'register' %}" method="POST">
        {% csrf_token %}
        <div class="mb-1">
          <label class="form-label" for="typeText">Nome de Usuário</label>
          <input
            type="text"
            id="typeText"
            class="form-control"
            placeholder=""
            name="username"
            required
          />
        </div>
        <div class="col-12">
          <label for="exampleInputPassword1" class="form-label">Senha</label>
          <input
            type="password"
            class="form-control"
            id="exampleInputPassword1"
            placeholder=""
            name="password"
            required
          />
        </div>
        <div class="col-12">
          <label for="inputAddress" class="form-label">Endereço</label>
          <input 
            type="text"
            class="form-control" 
            id="inputAddress" 
            placeholder=""
          />
        </div>
        <div class="col-12">
          <label for="inputCity" class="form-label">Cidade</label> 
          <input 
            type="txt" 
            class="form-control" 
            id="inputCity"
            placeholder=""
          />
        </div>
        <button type="submit" class="btn btn-primary">Cadastrar-me</button>
        </form>
      </div>
    </div>
  </section>
{% endblock conteudo %}


    